@import url("root.css");
@import url("socialIcon.css");
@import url('blogTag.css');
@import url('blogDateTime.css');
@import url('blogIcon.css');
@import url('blogAuthorInfo.css');

.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 150px 1fr 75px;
  grid-template-areas: 
  "hd hd"
  "tb tb"
  "cn cn"
  "ft ft";
  background-color: var(--white);
  color: var(--black);
}

.header{
  grid-area: hd;
  background-image: url("../images/japan_village.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 25px;
}

/* content */

.content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  grid-area: cn;
  padding: 75px 50px 25px 50px;
}

.content > .blog-page-figure{
  margin: 0px 0px 15px 0px;
  width: 100%;
}

/* sections */

.section{
  display: flex;
  flex-direction: row;
  margin: 0px 0px 15px 0px;
}

.section p{
  margin: 0px 25px 0px 0px;
}

.section-text{
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* Blockquote */

.section-text > blockquote{
  width: 80%;
  align-self: center;
  background-color: var(--grey);
  padding: 15px;
  border-radius: 5px;
}

.footer{
  display: flex;
  grid-area: ft;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
}

.blog-icon-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-info{
  display: flex;
  flex-direction: column;
}

.blog-info .blog-author-info{
  margin-top: 0px;
  margin-bottom: 0px;
}

.blog-info .blog-tag-container{
  margin-top: 5px;
}

/* title */

.title{
  display: flex;
  color: var(--white);
  align-items: center;
}

.title > h1{
  margin: 0px;
  justify-self: center;
  margin-right: auto;
}

.title > .back-link{
  margin-right: auto;
}

.top-bar{
  grid-area: tb;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 25px 50px 25px 50px;
  width: 500px;
  align-items: center;
}

.top-bar .blog-tag-container{
  padding-top: 0px;
}

.blog-icon{
  width:75px;
  height: 75px;
}

/* blog page images */

.blog-page-figure{
  width: 50%;
  background-color: var(--mid);
  border: 5px solid var(--mid);
  border-radius: 5px;
  align-self: flex-start;
  margin: 15px 0px 0px 0px;
}

.blog-page-image{
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.blog-page-figure-caption{
  padding: 5px 0px 5px 5px
}


/* small  screens */
@media(max-width:900px){
  .section-text{
    flex-direction: column;
    width: 100%;
  }

  .section{
    flex-direction: column;
  }

  .section p{
    width: 100%;
  }

  .blog-page-figure{
    width: 100%;
  }
}
