@import url("root.css");
@import url("navCard.css");

/* Default Screen Size */
.container{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 75px 90vh 100px;
  grid-template-areas: 
  "hd"
  "nv"
  "cn"
  "ft";
}

.box{
  color:var(--white);
 
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main);
  color: var(--high-light);
  grid-area: hd;
}

.nav-bar{
  background-color: var(--grey);
  grid-area: nv;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  color: var(--black);
  background-color: var(--white);
  grid-area: cn;
  width: 95%;
  justify-self: center;
}

.footer{
  display: flex;
  background-color: var(--main);
  grid-area: ft;
  align-items: center;
  justify-content: center;
}

/* Medium  Screens */
@media(min-width:600px) and (max-width: 900px){

  .container{
    display:grid;
    grid-template-columns: repeat(8,10vw);
    grid-template-rows: 100px 125px 80vh 75px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd hd"
    "nv nv nv nv nv nv nv nv nv nv"
    "cn cn cn cn cn cn cn cn cn cn"
    "ft ft ft ft ft ft ft ft ft ft";
  }

}

/* Large Screens */
@media(min-width: 901px){

  .container{
    display:grid;
    grid-template-columns: repeat(8,10vw);
    grid-template-rows: 100px 225px 80vh 75px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd hd"
    "nv nv nv nv nv nv nv nv nv nv"
    "cn cn cn cn cn cn cn cn cn cn"
    "ft ft ft ft ft ft ft ft ft ft";
  }

}