@import url("root.css");
@import url("navCard.css");
@import url("content.css");
@import url("blogCard.css");
@import url("socialIcon.css");
@import url("archive.css");

/* default screen size */
.container{
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 80px 1fr 75px;
  grid-template-areas: 
  "hd"
  "nv"
  "cn"
  "ft";
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main);
  color: var(--high-light);
  grid-area: hd;
}

.nav-bar{
  background-color: var(--grey);
  grid-area: nv;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  color: var(--black);
  background-color: var(--white);
  grid-area: cn;
  width: 95%;
  justify-self: center;
}

.footer{
  display: flex;
  background-color: var(--main);
  grid-area: ft;
  align-items: center;
  justify-content: center;
}

/* Very Small Screens */
@media(max-width:400px){
  .container{
    font-size: small;
  }
}

/* medium  screens */
@media(min-width:600px) and (max-width: 900px){

  .container{
    display:grid;
    grid-template-rows: 100px 125px 1fr 75px;
  }

}

/* large screens */
@media(min-width: 901px){

  .container{
    display:grid;
    grid-template-rows: 100px 225px 1fr 75px;
  }

}