/* Default Screen Size */

.container{
  display:grid;
  border: 5px solid red;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 50px 80vh 25px;
  grid-template-areas: 
  "hd"
  "sd"
  "cn"
  "ft";
}

body{
  background-color: #444;
}

.box{
  color:white;
}

.header{
  background-color: green;
  grid-area: hd;
}

.side-bar{
  background-color: purple;
  grid-area: sd;
}

.content{
  color: black;
  background-color: yellow;
  grid-area: cn;
}

.footer{
  background-color: blue;
  grid-area: ft;
}

/* Medium  Screens */
@media(min-width:600px) and (max-width: 900px){

  .container{
    display:grid;
    border: 5px solid orange;
    grid-template-columns: repeat(8,10vw);
    grid-template-rows: 100px 45vh 45vh 25px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd hd"
    "sd sd sd cn cn cn cn cn cn cn"
    "sd sd sd cn cn cn cn cn cn cn"
    "ft ft ft ft ft ft ft ft ft ft";
  }

}

/* Large Screens */
@media(min-width: 901px){

  .container{
    display:grid;
    border: 5px solid aqua;
    grid-template-columns: repeat(8,10vw);
    grid-template-rows: 100px 45vh 45vh 25px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd hd"
    "sd cn cn cn cn cn cn cn cn cn"
    "sd cn cn cn cn cn cn cn cn cn"
    "ft ft ft ft ft ft ft ft ft ft";
  }

}