<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19G2021</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>app_mode_loader</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.Chrome.app.dlhecbanjhijhiilbbcgdhdfifiaonha</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Personal Blog</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>4324.96</string>
	<key>CrAppModeShortcutID</key>
	<string>dlhecbanjhijhiilbbcgdhdfifiaonha</string>
	<key>CrAppModeShortcutName</key>
	<string>Personal Blog</string>
	<key>CrAppModeShortcutURL</key>
	<string>https://liammcintosh97.github.io/Personal-Blog-Website/</string>
	<key>CrAppModeUserDataDir</key>
	<string>/Users/liammcintosh/Library/Application Support/Google/Chrome/-/Web Applications/_crx_dlhecbanjhijhiilbbcgdhdfifiaonha</string>
	<key>CrBundleIdentifier</key>
	<string>com.google.Chrome</string>
	<key>CrBundleVersion</key>
	<string>88.0.4324.96</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTSDKBuild</key>
	<string>11.0</string>
	<key>DTSDKName</key>
	<string>macosx11.0</string>
	<key>DTXcode</key>
	<string>1220</string>
	<key>DTXcodeBuild</key>
	<string>12B45b</string>
	<key>LSEnvironment</key>
	<dict>
		<key>MallocNanoZone</key>
		<string>0</string>
	</dict>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.11.0</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
